# IDEs
.project
.pydevproject
.idea
.vscode
.settings
venv/
data/
./data



# Random files
*~
.env
\#*
src/*.env
src/*.rdb
*.rdb
*.env
*/*/.env
src/.env

virtualenv/
htmlcov/
src/static_dist/
src/static_root/
src/media/

# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite

# Node modules
node_modules/
yarn.lock
npm-debug.log

# Coverage 
coverage/
.coverage
.cache
src/.env
# static validation files
.eslintrc
.sass-lint.yml
.prospector.yml
.coveragerc

# in case we run shippable tests don't include it
shippable/

# not include scripts because they come from external module
scripts/

src/celerybeat-schedule